
/*---- Zone principale ----*/
html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #313131;
	min-width: 480px;
}

header,h1{
	font-family: 'TitanOne';
	color: #00B906;
	font-size: 1.6em;
	margin: 0;
	align-self: center;
}

header{
	width: 100%;
	background: #212121;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: #515151 2px ridge;
}
/*----------------------*/

/* zone basique */

ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
}

li{
	padding-left: 20px;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: green;
}

h2{
	font-family: 'TitanOne';
	color: #00B906;
	text-align: center;
}
/*----------------------*/

/*---- Zone de classe ----*/
.mainLogo{
	width: 180px;
	height: 80px;
	padding: 30px 10px 30px 30px;
}

.titleZone{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navZone{
	width: 50%;
}

.content{
  	width:80%;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
}
/*------------------------*/


/* Zone de classe */

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.maxWidthHr{
	width: 80%;
	border-color: #00B906;
	max-width: none;

}

.comment{
	color: rgb(6, 131, 10);
	transition: 0.35s ease-in-out;
}

.comment:hover{
	color: #00A906;
	transition: 0.35s ease-in-out;
	animation: shake 0.15s cubic-bezier(.82,.97,.99,1) both;
}

.commentContainer{
	width: 70%;
	background: #272727;
	border: #363636 3px ridge;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	padding: 10px;
	align-items: center;
}

.addComment{
	font-family: 'TitanOne';
	font-size: 70px;
	color: #00B906;
	text-align: center;	
}

.center{
	display: flex;
	justify-content: center;
}

.box{
	background: #232323;
	border: #363636 3px ridge;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	padding: 30px;
}

/*------------------------*/

/* zone de Formulaire */

.topTitle{
	/*border: #00f616 3px ridge;*/
	width: 100%;
}

.connect{
	width: 50%;
	background: #232323;
	border: #363636 3px ridge;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
}

.formIcon{
	width: 32px;
	height: auto;
	align-items: center;
}

::-webkit-input-placeholder {
	text-align: center;
 }

 :-moz-placeholder { /* Firefox 18- */
	text-align: center;
 }

 ::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
 }

 :-ms-input-placeholder {
	text-align: center;
 }

 textarea{
	padding: 6px 10px;
	  border-radius: 20px;
	  resize: none;
 }

 textarea:focus{
	background: #22bb22;

}

input[type=text] {
  	width: 30%;
 	padding: 6px 10px;
  	border-radius: 20px;
  	margin: 10px 20px;
}

input[type=text]:focus {
	 background: #22bb22;
}

input[type=password] {
	width: 30%;
	padding: 6px 10px;
	border-radius: 20px;
	margin: 10px 20px;
}

input[type=password]:focus {
	background: #22bb22;
}

input[type=submit] {
  width: 20%;
  padding: 6px 10px;
  border-radius: 20px;
  margin: 10px 20px;
  transition: 0.5s ease-in-out;
  min-width: 100px;
}



input[type=submit]:hover{

  background: #00B906;

  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
/*------------------------*/

/* ZONE DE POST */

.postIntro{
	color: #00B906;
	font-size: 1em;
}

.postTitle{
	color: #00B906;
	font-size: 1.6em;
}

.postMessage{
	color: #00B906;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	padding: 20px;
}


.postMain{
	display: flex;
	align-items: center;
	flex-direction: column;
}


.postContainer{
	width: 90%;
	background: #232323;
	border: #363636 3px ridge;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	padding: 10px;
	align-items: center;
}

.postContainer p{
	margin: 0;
	padding: 10px;
}
/*------------------------*/

/* ZONE TOPPER */

.topper{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 30px 30px 0;
}

.topIcon{
	width: 60px;
	height: 60px;
	transition: 0.35s ease-in-out;
}

.topIcon:hover{
	transform: rotateY(180deg);
	transition: 0.35s ease-in-out;
}
/*------------------------*/

/* ZONE D'ALERTE */

.alert {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 5px;
    width: 30%;
    margin-top: 60px !important;
    margin-left: 15px !important;
	align-self: center;
	margin-bottom: 20px;
}

.alert-err {
    background-color: rgba(224, 14, 14, 0.6);
}

.alert-ok {
    background-color: rgba(66, 204, 24, 0.4);
}

.alert p {
    font-size: 13px;
    text-align: center;
}
/*----------------/

/*---- Zone de font ----*/
@font-face {
	font-family: "Chewy";
	src: url('../ressources/fonts/Chewy/Chewy-Regular.ttf');
}

@font-face {
	font-family: "TitanOne";
	src: url('../ressources/fonts/Titan_One/TitanOne-Regular.ttf');
}
/*----------------------*/

/* Zone de keyframes */

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
/*----------------------*/

/* MEDIA QUERIES */

@media screen and (max-width: 720px) {
  ul{
  	flex-direction: column;
  	border-left: #00B906 solid 3px;
  	padding-left: 0;
  }

  footer p{
	text-align: center;
  }
}

@media screen and (max-width: 480px) {
	ul{
		flex-direction: column;
		border-left: #00B906 solid 3px;
		padding-left: 0;
	}

	p{
		text-align: justify;
	}
  }

/*----------------------*/

/*---- Zone footer ----*/

.footerRow1{
	background: #212121;
	color: #fff;
	text-align: center;
	margin-top: 25%;
	padding-top: 1%;
	border-top: #515151 2px ridge;
}

.footerRow2{
	background: #212121;
	color: #fff;
	text-align: center;
	padding-bottom: 0.8%;
}

.contact{
	font-size: 20px;
}

hr
{
	max-width: 50px;
	border-color: #fff;
}

.fa-phone{
	margin-right: 1%;
}

.tel:hover{
	color: #00B906;
}

.mail:hover{
	color: #00B906;
}

.fa-envelope-o{
	margin-right: 1%;
}

.form-control {
	height: auto;
	font-size: 1rem;
	padding: .375rem .75rem;
}

.bloc_icones i{
	padding: 25px 10px 30px 10px;
}

.fa-facebook:hover{
	color: #3b5998;
}


.comment{
	color: rgb(6, 131, 10);
	transition: 0.35s ease-in-out;
	font-size: 60px;
}

.comment:hover{
	color: #00A906;
	transition: 0.35s ease-in-out;
	animation: shake 0.15s cubic-bezier(.82,.97,.99,1) both;
}


.fa fa-plus-circle{
	color: #00B906;
}

.fa-linkedin:hover{
	color: #007bb5;
}

.fa-instagram:hover{
	color: #e95950;
}

.fa-twitter:hover{
	color: #55acee;
}

.fa-youtube:hover{
	color: #ff0000;
}
